<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="index.html">MediCARE - Cares for your health</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
            <ul class="navbar-nav m-auto">
                
                
                <li class="nav-item">
                    <a routerLink="/product" class="btn btn-secondary">All Our Products</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/searchmedicine" class="btn btn-secondary">Search</a>
                </li>

            <li class="nav-item">
                <a routerLink="/login" class="btn btn-secondary">Login</a>
            </li>
              
      
            </ul>

            <form class="form-inline my-2 my-lg-0">
                
                <a class="btn btn-danger btn-sm ml-3">
                    <a routerLink="/cart">Cart</a>
                    
                    <span class="badge badge-light"></span>
                </a>
            </form>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-12 col-sm-3">
            <div class="card bg-light mb-3">
                <div class="card-header bg-primary text-white text-uppercase"><i class="fa fa-list"></i> Categories</div>
                <ul class="list-group category_block">
                    <li class="list-group-item"><a href="category.html">Pharmacy</a></li>
                    <li class="list-group-item"><a href="category.html">Diabetic Corner</a></li>
                    <li class="list-group-item"><a href="category.html">Healthy Life</a></li>
                    <li class="list-group-item"><a href="category.html">Promotions</a></li>
                    <li class="list-group-item"><a href="category.html">Vitamins and Supplements</a></li>
                </ul>
            </div>
            
        </div>
        <div class="col">
            <div class="row">
                
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card" style="height: 18rem">
                        <img class="card-img-top" src="https://d3ow2108bmqeui.cloudfront.net/marketing/comp_cod.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title"><a href="product.html" title="View Product">COD Available</a></h4>
                            <p class="card-text">Want to pay later, we accept it !!</p>
                            <div class="row">
                                
                                <div class="col">
                                    <a href="#" class="btn btn-success btn-block">Explore T&C</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card" style="height: 18rem">
                        <img class="card-img-top" src="https://cdn.grabon.in/gograbon/images/web-images/uploads/1591771377413/medicines-offers.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title"><a href="product.html" title="View Product">Recent Offers</a></h4>
                            <p class="card-text">Exciting offers</p>
                            <div class="row">
                                
                                <div class="col">
                                    <a href="#" class="btn btn-success btn-block">Exlore Offers</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card" style="height: 18rem">
                        <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRzTCaUMuU9-wEEIFgCAy77zALOaGZblBztMg&usqp=CAU" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title"><a href="product.html" title="View Product">Join Health Club</a></h4>
                            <p class="card-text">Early bird offer only for today!!</p>
                            <div class="row">
                                
                                <div class="col">
                                    <a href="#" class="btn btn-success btn-block">Register today!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>

    </div>
</div>
<section>
    <div class="container">
    <div class="row"> 


        <div class="col-sm-3" *ngFor="let product of products.slice(0,4);">
            <div class="card">
                <img class="card-img-top" src="{{product.url}}"
                    alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title"><a href="product.html" title="View Product">{{product.medicineName}}</a>
                    </h4>
                    <p class="card-text">Type: {{product.type}}</p>
                    <p class="card-text">Mfg Date {{product.manufactureDate}}</p>
                    <p class="card-text">Exp Date {{product.expiryDate}}</p>
                    <div class="row">
                        <div class="col">
                            <p class="btn btn-secondary btn-block">Price {{product.price}}</p>
                        </div>
                        <div class="col">
                            <a href="#" class="btn btn-success btn-block">Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    
    </div>
</div>
</section>



<!-- Footer -->
<footer class="text-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-lg-4 col-xl-3">
                <h5>About</h5>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                <p class="mb-0">
                  With an aim to eradicate fake and ineffective medicines, and supply high-quality medicines


                </p>
            </div>

            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto">
                <h5>Informations</h5>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                <ul class="list-unstyled">
                    <li><a routerLink="/login">Health Regular</a></li>
                    <li><a routerLink="/login" >Join the health Club</a></li>
                    <li><a routerLink="/login" >Subscribe to news letter</a></li>
                    
                </ul>
            </div>

            

            <div class="col-md-4 col-lg-3 col-xl-3">
                <h5>Contact</h5>
                <hr class="bg-white mb-2 mt-0 d-inline-block mx-auto w-25">
                <ul class="list-unstyled">
                    <li><i class="fa fa-home mr-2"></i> My company</li>
                    <li><i class="fa fa-envelope mr-2"></i> email@example.com</li>
                    <li><i class="fa fa-phone mr-2"></i> + 33 12 14 15 16</li>
                    <li><i class="fa fa-print mr-2"></i> + 33 12 14 15 16</li>
                </ul>
            </div>
            <div class="col-12 copyright mt-3">
                <p class="float-left">
                    <a href="#">Back to top</a>
                </p>
                
            </div>
        </div>
    </div>
</footer>

