<div class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="index.html">MediCARE - Cares for your health</a>
        </div>

</div>
<div class="jumbotron" style="height: 0rem;">
    <div align="center">
        <h3 style="color: cadetblue;">
            May i help you find your medicine !!
        </h3>
        </div>
    </div>
<div class="input-group input-group-sm">
    <input type="text" class="form-control" [(ngModel)]="medicineName" aria-label="Small" aria-describedby="inputGroup-sizing-sm" placeholder="Search...">
    <div class="input-group-append">
        <button type="submit" class="btn btn-secondary btn-number" (click)="getMedicineOnSearch()">
            <i class="fa fa-search">Search</i>
            
        </button>
        <button type="submit" class="btn btn-secondary btn-number" (click)="getAllProducts()">
            <i>Reset</i>
            
        </button>
    </div>
</div>
<div>
    
</div>



<div class="row"> 


    <div class="col-sm-3" *ngFor="let product of products">
        <div class="card">
            <img class="card-img-top" src="{{product.url}}"
                alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title"><a href="product.html" title="View Product">{{product.medicineName}}</a>
                </h4>
                <p class="card-text">Type: {{product.type}}</p>
                <p class="card-text">Mfg Date {{product.manufactureDate}}</p>
                <p class="card-text">Exp Date {{product.expiryDate}}</p>
                <div class="row">
                    <div class="col">
                        <p class="btn btn-danger btn-block">Price {{product.price}}</p>
                    </div>
                    <div class="col">
                        <a href="#" class="btn btn-success btn-block">Add to cart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
